# Dependencies
node_modules
client/node_modules

# Build
dist
dist-ssr
build
*.local

# Environment
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Cache
.cache
.parcel-cache
.vite
*.tsbuildinfo

# Test / coverage
coverage
.nyc_output

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editor / IDE
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
